* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alexandria', sans-serif;
}

/* THEMES */
:root {
    --theme-primary-red: #f5272a;
    --theme-primary-green: #10BA5E;
    --theme-primary-blue: #20A1FE;
    --theme-primary-orange: #fc8f26;
    --theme-primary-grey: #3f4440;
    --theme-secondary-grey: #959694;
    --theme-grey-100: #c7c6c5;
    --theme-grey-200: #ffffff80;
    --theme-grey-300: #d3d3d3;

    --theme-red: #ff0000;
    --theme-white: #fff;
    --theme-black: #000;
    --theme-red-100: #fe8b8b;
}

/* COMMON CSS */

.text_danger {
    color: var(--theme-primary-red) !important;
}

h2.section_title {
    font-size: clamp(18px, 2vw, 28px);
}

.subtext {
    color: var(--theme-grey-100);
    font-size: clamp(12px, 2vw, 14px);
    margin-bottom: 0;
}

.subtext.dark {
    color: var(--theme-primary-grey);
}

.avatar_container {
    vertical-align: middle;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100px;
    background: var(--theme-red-100);
}

/* BUTTONS */
.btn_custom {
    border: 0;
    padding: 12px;
    width: 100%;
    max-width: 130px;
    min-width: 100px;
    height: auto;
    border-radius: 4px;
    color: var(--theme-black);
    font-size: 12px;
}

.btn_primary_red {
    background-color: var(--theme-primary-red);
    color: var(--theme-white);
}

.btn_primary_green {
    background-color: var(--theme-primary-green);
    color: var(--theme-white);
}

.btn_back {
    border: 0;
    background: transparent;
    padding: 12px 0;
}

/* INPUT */
.search_input_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search_input_container .search-label {
    width: 100%;
    max-width: 400px;
}

.search_input {
    width: 100%;
    max-width: 400px;
    padding: 8px 40px 8px 16px !important;
    border: 1px solid var(--theme-grey-300);
    border-radius: 4px;
    position: relative;
    padding-right: 25px;
    background: url("./assets/search_icon.svg") no-repeat right;
    background-size: 20px;
    background-position-x: 94%;
}

.search_input::placeholder {
    color: var(--theme-grey-300);
}

.search_input:focus-visible {
    outline: none;
}

.search_input:focus {
    box-shadow: none !important;
    border-color: var(--theme-grey-300) !important;
}

/* TABLE CSS */
.react-bootstrap-table .selection-cell>input[type='checkbox'],
.react-bootstrap-table .selection-cell-header>input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

.react-bs-table-no-data {
    text-align: center;
}

.react-bootstrap-table tbody>tr>td>span.status0 {
    color: var(--theme-primary-blue);
}

.react-bootstrap-table tbody>tr>td>span.status1 {
    color: var(--theme-primary-orange);
}

.react-bootstrap-table tbody>tr>td>span.status2 {
    color: var(--theme-primary-green);
}


/* HOME TAB CONTAINER */
@media screen and (max-width: 576px) {

    .home_tab_container,
    .home_tab_container .panel_left {
        height: max-content !important;
    }

    .home_tab_container .nav-pills .nav-link.active::after {
        display: none !important;
    }

    .home_tab_container .panel_right {
        padding: 1rem !important;
        height: calc(100vh - 500px) !important;
    }
}

.home_tab_container {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;
    overflow: hidden;
}


/* .home_tab_container .nav_container {
    overflow: hidden;
} */

.home_tab_container .panel_left {
    background: linear-gradient(0deg, var(--theme-red) 0%, var(--theme-primary-red) 50%, rgba(245, 39, 42, 0.8) 75%);
}

.home_tab_container .panel_right {
    padding: 60px 40px;
    height: 100vh;
    overflow: hidden scroll;
}

/* width */
.home_tab_container .panel_right::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.home_tab_container .panel_right::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.home_tab_container .panel_right::-webkit-scrollbar-thumb {
    background: var(--theme-primary-red);
}

.home_tab_container .logo_img {
    margin: 0 auto;
    display: block;
}

.home_tab_container .nav-pills .nav-link {
    color: var(--theme-grey-100);
    padding: 1rem;
    position: relative;
}

.home_tab_container .nav-pills .nav-link.active {
    color: var(--theme-white);
    background-color: transparent;
}

.home_tab_container .nav-pills .nav-link.active::after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--theme-white);
    position: absolute;
    top: 50%;
    right: -33px;
    transform: translateY(-50%) rotate(45deg);
}

.home_tab_container .nav-pills .nav-link .nav_icon {
    margin-right: 1rem;
}